{% extends 'music/base.html' %}

{% block title %}Album Details{% endblock %}

{% block body %}

    <style>

    body {
        background: url({{ album.album_cover.url }});
        background-size: cover;
    }

    .panel {
        background-color: rgba(255, 255, 255, 0.75);
    }

    </style>

    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-4">
                <img src="{{ album.album_cover.url }}" id="albumCover" alt="{{ album.album_title }}"/>
            </div>


            <div class="col-sm-8">
                <div class="panel panel-default" id="details">
                    <div class="panel-body">
                        <h1>{{ album.artist }}</h1>
                        <h3><strong>{{ album.album_title }}</strong></h3>
                        <span style="color:#747474;font-size:20px">Genre: {{ album.genre }}</span> <br /><br />

                        <a href="{% url 'music:song-add' album.id %}"> <button type="button" class="btn btn-default">Add Songs</button></a><br /><br />
                        <ul>
                            {% for song in album.song_set.all %}
                                <li style="list-style-type:none;font-size:18px" class="songs">
                                    <a target="_blank" href="http://www.youtube.com/results?search_query={{ album.artist }} - {{ song.song_title }}"
                                        onclick="showPopup(this.href); return false;">
                                        <button class="btn btn-success btn-xs">
                                            <span class="glyphicon glyphicon-play-circle"></span>
                                        </button>
                                    </a>&nbsp;&nbsp;{{ song.song_title }}
                                    <br /> <br />

                                </li>
                            {% endfor %}
                        </ul>


                    </div>
                </div>
            </div>


        </div>


    </div>

    <script type="text/javascript">

        $(document).ready(function() {
            $('#albumCover').height($('.panel').height());
            $('#albumCover').width($('.col-sm-4').width());
        });

        function showPopup(url) {
            var new_window = window.open(url, 'Youtube', 'resizable=1,statusbars=0,menubars=0,titlebar=0,toolbars=0,width=500,height=500,left=750,top=300');
            new_window.focus();
        }

    </script>


{% endblock %}

