body {
    background: #fff url('images/background.jpeg');
}

.panel {
    background-color: rgba(255, 255, 255, 0.5);
}

h3 {
    color: #3085df;
}

h4 {
    color: #c0cece;
}

.thumbnail {
    background-color: rgba(0, 0, 0, 0.5);
}

.thumbnail:hover {
    background-color: rgba(0, 0, 0, 0.7);
}


.navbar {
    border-radius: 0;
}

.navbar-brand {
    font-family: "Satisfy", cursive;
}

@media screen and (max-width: 768px) {
    #albumCover {
        width: 100% !important;
        max-height: 100% !important;
    }

    .songs {
        font-size: 15px !important;
    }

    .indexPanel {
        width: 50% !important;
    }
}

